/* Henry's Firefox CSS stylesheet */

/*Url bar*/

	#urlbar, #urlbar-container, #urlbar-input {
		background:none !important;
		opacity: 0.9 !important;
		text-align: center !important;
		}

	#urlbar {border: none !important;}

	#urlbar[focused] {box-shadow: initial !important;}

/* Tabs */

/* Hide stuff */

	#tracking-protection-icon-container{ display:none;}
	#blocked-permissions-container{ display:none;}
	#identity-box.verifiedDomain #identity-icon {display:none !important;}
	#pageActionButton {display: none;}

	.tabbrowser-tab::after,
	.tabbrowser-tab::before {border-left: none !important;}

/* Grayscale tab favicons */

	/* Favicon icon when mouse over to pinned inactive tab grayscale(15%) */
		
		.tabbrowser-tab:hover .tab-icon-image[pinned] {
		filter: grayscale(15%) !important;
		}

	/* Favicon icon on pinned inactive tab grayscale(35%) */

		.tabbrowser-tab .tab-icon-image[pinned] {
		filter: grayscale(10%) !important;
		}

	/* Favicon icon when mouse over over inactive tab grayscale(15%) */
		.tabbrowser-tab:hover .tab-icon-image:not([selected=true]):not([pinned]) {
		filter: grayscale(15%) !important;
		}

	/* Gray out the favicon icon on the inactive tab */
		.tabbrowser-tab .tab-icon-image:not([selected=true]):not([pinned]) {
		filter: grayscale(75%) !important;
		}

/* Remove placeholder "Search With Text from URL */

		#urlbar-input::placeholder,
		#searchbar .textbox-input::placeholder {opacity: 0 !important;}

/* Make the about page color darker */

	#browser vbox#appcontent tabbrowser #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
		background: #282828 !important; background-color: #282828 !important; 	color: #282828 !important; }

	.titlebar-spacer[type="pre-tabs"]{width:10px}
	.titlebar-spacer[type="pre-tabs"]{opacity:0}
	#navigator-toolbox { border: none !important;}

/* Make tab select color black */

	.tab-background[selected="true"]{
	background-color: black; 		/* this sets the color of the tab background */
	}
	.tab-line[selected="true"] {
	background-color : black;		 /* this sets the color of the line above the tab */
	}

/* Hide the small x in tabs */

	.tabbrowser-tab:not([pinned]):not([selected]) .tab-close-button {display: none !important;}
	.tabbrowser-tab:not([pinned]):not([selected]):hover .tab-close-button {display: -moz-box !important;}



/* Bugs : Tab spacers still remain, and tab highlight color doesn't darken. Though effects do take change correctly when previewed in style editor. */
